﻿@page
@model Exam12019.Pages.Restaurant.CreateModel
@{
}
<h1>Insert Restaurant</h1>
<hr />
<h3><a href="@Url.Page("./Index")">Return to Index</a></h3>
<form method="post">

    <div>
        <label asp-for="Form.Name"></label>
        <input asp-for="Form.Name" />
        <span asp-validation-for="Form.Name"></span>
    </div>
    <div>
        <label asp-for="Form.Address"></label>
        <textarea asp-for="Form.Address"></textarea>
        <span asp-validation-for="Form.Address"></span>
    </div>

    <div>
        <button type="submit">Insert Restaurant</button>
    </div>

</form>