﻿@page "{Id:Guid}"
@model Exam12019.Pages.Restaurant.DeleteModel
@{
}

<h1>Delete Restaurant :</h1>
<hr />

<form method="post">
    <div>
        <p>Are you sure want to delete this restaurant?</p><br />
        <h3>@Model.Name</h3>
    </div>
    <div>
        <button type="submit">Delete</button>
    </div>
</form>
