﻿@page 
@model Exam12019.Pages.Restaurant.FindReservationModel
@{
}
<h1>Restaurant Search</h1>
<hr />

<div>
    <h3>Search Reservation Id:</h3>
</div>

<form method="post">
    <div>
        <input asp-for="Id" />
        <button type="submit">Search</button>
    </div>
    <span asp-validation-for="Id"></span>
</form>


@if (Model.Id == null)
{
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Restaurant Name</th>
                <th>Restaurant Address</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Form)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.RestaurantName</td>
                    <td>@item.RestaurantAddress</td>
                </tr>
            }
        </tbody>
    </table>
}

