﻿@page
@model Exam12019.Pages.Restaurant.IndexModel
@{
}

<h1>Restaurant List</h1>
<h3><a href="@Url.Page("/Auth/Logout")">Logout</a></h3>
<hr />
<h3><a href="@Url.Page("/Restaurant/Create")">Insert Restaurant</a></h3>
<table border="1">
    <thead>
        <tr>
            <th>Restaurant ID</th>
            <th>Name</th>
            <th colspan="2">Update & Delete Links</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Form != null)
        {
            @foreach (var item in Model.Form)
            {
                <tr>

                    <td>@item.RestaurantId</td>
                    <td>@item.Name</td>
                    <td><a href="@Url.Page("/Restaurant/Update", new { Id = item.RestaurantId })">Update</a></td>
                    <td><a href="@Url.Page("/Restaurant/Delete", new { Id = item.RestaurantId })">Delete</a></td>

                </tr>
            }

        }
    </tbody>
</table>
