﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="@Url.Page("/Restaurant/Index")">Go to Restaurant List</a></p>
</div>*@




<form method="post">

    <div>
        <label asp-for="Form.Name">Name</label>
        <input asp-for="Form.Name" />
        <span asp-validation-for="Form.Name"></span>
    </div>

    <div>
        <label asp-for="Form.Email">Email</label>
        <input asp-for="Form.Email" />
        <span asp-validation-for="Form.Email"></span>
    </div>

    <div>
        <label asp-for="Form.RestaurantId">Restaurant Id</label>
        <input asp-for="Form.RestaurantId" />
        <span asp-validation-for="Form.RestaurantId"></span>
    </div>

    <div>
        <label asp-for="Form.ReservationTime">Reservation Time</label>
        <input asp-for="Form.ReservationTime" />
        <span asp-validation-for="Form.ReservationTime"></span>
    </div>

    <div>
        <button type="submit">Reserve</button>
    </div>
</form>

<h3><a href="@Url.Page("/Auth/Login")">Go To Login Page</a></h3>
<h3><a href="@Url.Page("/Restaurant/FindReservation")">Go To Find Reservation Page</a></h3>

<table border= "1">
    <thead>
        <th>Restaurant Id</th>
        <th>Restaurant Name</th>
        <th>Restaurant Address</th>
    </thead>
        <tbody>

            @foreach (var item in Model.AllRestaurant)
            {
                <tr>
                    <td>@item.RestaurantId</td>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                </tr>
           }

        </tbody>
</table>
